<h1>{{title}}</h1>

<div>
  <a href="/">Home</a> | 
  <a href="/tresources">Resources</a> | 
  <a href="/tusers">Users</a> | 
  <a href="/ttags">Tags</a>
</div>
<div class="search-container">
  <form action="/search">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>
<ol>
  {{#each data}}
    <li><a href="/respiv?resource={{uri}}&offset=0&count=100">{{title}}</a></li>
  {{/each}}
</ol>

