<div width="33%">
  <b>Resources</b>
  <ul>
    {{#each resources}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
<div width="33%">
  <b>Users</b>
  <ul>
    {{#each users}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
<div width="33%">
  <b>Tags</b>
  <ul>
    {{#each tags}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>